:root {
  --clr-very-dark-blue: #131518;
  --clr-dark-blue: #262e38;
  --clr-light-grey: rgba(150, 159, 173, 1);
  --clr-medium-grey: rgba(124, 135, 152, 1);
  --clr-orange: #fc7614;
  --clr-white: #fff;

  --border-radius: 1.375rem;
  --max-width: 377px;
  --container-padding: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid crimson; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--clr-very-dark-blue);
  text-align: left;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rating-container {
  color: var(--clr-white);
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  padding: var(--container-padding);
}

p {
  color: var(--clr-light-grey);
  font-size: 0.875rem;
}

.rating-container button {
  background: var(--clr-orange);
  color: var(--clr-white);
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  width: 100%;
  padding: 1rem 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.rating-container button:hover {
  background: var(--clr-white);
  color: var(--clr-orange);
}

.rating-box {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.rating-box input[type='radio'] {
  display: none;
}

.rating-box label {
  color: var(--clr-medium-grey);
}

.rating-item:hover label {
  --bg: var(--clr-light-grey);
  color: var(--clr-white);
  cursor: pointer;
}

.rating-item input[type='radio']:checked + label {
  color: var(--clr-white);
  background: var(--clr-orange);
}

.rating-item:hover {
  color: var(--clr-orange);
}

.circular-bg {
  --bg: var(--clr-dark-blue);
  display: grid;
  place-items: center;
  background: var(--bg);
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

/* ThankYou Component */

.thank-you {
  color: var(--clr-white);
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  padding: var(--container-padding);
  text-align: center;
}

.selection-notice {
  color: var(--clr-orange);
  background: var(--clr-dark-blue);
  width: fit-content;
  border-radius: var(--border-radius);
  padding: 5px 12px;
  margin: 2rem auto;
}
